<footer class="bg-primary text-white">
  <div class="container">
    <div class="pt-3 pb-3">
      <p><a class="text-white" href="{{ auth.homeUrl }}/terms-of-use.php">Terms of Use</a> - <a class="text-white" href="{{ auth.homeUrl }}/privacy-policy.php">Privacy Policy</a></p>
      <p>{{ auth.businessName }} - All Rights Reserved</p>
    </div>
  </div>
</footer>
