<div class="loading" *ngIf="loading == true">Loading&#8230;</div>
<nav class="navbar navbar-expand-lg navbar-light  justify-content-between">
  <div class="container">
    <a class="navbar-brand mx-auto" href="{{ auth.homeUrl }}" style="width:175px;" >
      <img src="{{ auth.logoUrl }}" height="85" alt="{{ auth.businessName }}" /></a>
    <button class="navbar-toggler"  (click)="toggleNavbar()"  type="button" data-toggle="collapse" data-target="#navbarColor03" aria-controls="navbarColor03" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse"  [ngClass]="{ 'show': navbarOpen }" id="navbarColor03">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" routerLink="">Online Menu</a>
        </li>
        <ng-container *ngIf="auth.isLoggedIn()">
          <li class="nav-item">
            <a class="nav-link" routerLink="history">My Orders</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="javascript:void(0)" (click)="logout()">Logout</a>
          </li>
        </ng-container>
        <ng-container *ngIf="!auth.isLoggedIn()">
          <li class="nav-item">
            <a class="nav-link" routerLink="login" >Login</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="register">Register</a>
          </li>
        </ng-container>
      </ul>
    </div>
  </div>
</nav>
