<div class="loading" *ngIf="loading == true">Loading&#8230;</div>
<div class="container"  *ngIf="loading == false" >
  <div class="row">
    <div class="col-md-12 col-sm-12">
      <ul class="list-unstyled" *ngIf="this.order.items.length > 0" >
        <li class=" my-4 p-3 mb-2 bg-primary text-white">
          <h5 class="mt-0 mb-1">Order Summary</h5>
        </li>
        <li class=" p-4" >
          <div  *ngIf="auth.hasGatewayError() == true" >
            <div class="alert alert-warning alert-dismissible fade show" role="alert">
                {{ auth.getGatewayError() }}
                <button type="button" class="close" (click)="auth.clearGatewayError()" data-dismiss="alert" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
          </div>
          <ul class="list-group btn-block">
            <li class="list-group-item" *ngFor="let item of order.items; ">
              <div>
                {{ item.qty }} x {{ item.item }}
                <br/>
                <small>{{ item.item_extras }}</small>
                <div class="float-right">AED {{ item.subtotal  }}</div>
              </div>
            </li>
            <li class="list-group-item"><b>Subtotal:</b><div class="float-right">AED  {{ this.order.subtotal }}</div> </li>
            <li class="list-group-item"><b>Delivery:</b><div class="float-right">AED {{ this.order.delivery_charge  }}</div> </li>
            <li *ngIf="this.order.applied_discount > 0" class="list-group-item">
              <b>Discount Applied:</b>
              <div class="float-right">AED {{ this.order.applied_discount  }}</div> 
              <div *ngIf="this.order.additional!=''">{{ this.order.additional }}</div>
            </li>
            <li class="list-group-item"><h5><b>Total:</b><div class="float-right">AED {{ this.order.total }}</div> </h5></li>
          </ul>
        </li>
        <li class=" my-4 p-3 mb-2 bg-primary text-white">
          <h5 class="mt-0 mb-1">Delivery Details</h5>
        </li>
        <li class=" p-4" >
          <div class="row">
            <div class="col-md-6 col-xs-12">
              <ul class="list-group btn-block">
                <li class="list-group-item bg-primary">
                  <div class="text-white ">
                    Deliver To
                  </div>
                </li>
                <li class="list-group-item">
                  <div>
                    {{ order.customer_name }}
                  </div>
                </li>
                <li class="list-group-item">
                  <div>
                    Email: {{ order.customer_email }}
                  </div>
                </li>
                <li class="list-group-item">
                  Phone:{{ order.customer_phone }}
                </li>
                <li class="list-group-item">
                  <div>
                    {{ order.address.house_no }} {{ order.address.street }}<br/>
                    {{ order.address.address_1 }} {{ order.address.address_2 }}<br/>
                    {{ order.address.city_name}}

                    <p>{{order.comments}}</p>
                  </div>
                </li>
              </ul>
            </div>
            <div class="col-md-6 col-xs-12">

              <div  *ngIf="auth.hasGatewayError() == true" >
                <div class="alert alert-warning alert-dismissible fade show" role="alert">
                  {{ auth.getGatewayError() }}
                  <button type="button" class="close" (click)="auth.clearGatewayError()" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
              </div>
              <a href="javascript:void(0)" (click)="pay()" class="btn p-3 btn-block btn-primary btn-lg"><i class="far fa-credit-card"></i> Pay Online</a>

              <a href="javascript:void(0)" (click)="payByCash()" class="btn btn-light btn-block">Rather pay Cash</a>

            </div>

          </div>
        </li>


          
      </ul>
    </div>
  </div>
</div>
  