<div *ngIf="is_zone_set!=true">

  <div id="overlay" style="z-index:1022"></div>
  <div class="modal fade show " id="zoneModalCenter" style="display:block;" role="dialog">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle">Select a delivery location</h5>
        </div>
        <div class="modal-body">
          <div>
            <div class="p-3">
              <div class="row">
                <div class="col-md-6 col-xs-12">
                  <div class="form-group">
                    <label>City</label><br/>
                      <select name="current_city_id" [(ngModel)]="current_city_id" id="current_city_id" class="form-control"  required (click)="setCurrentZonesSelectable()" (change)="setCurrentZonesSelectable()">
                        <option *ngFor="let city of delivery_locations" [value]="city.id">{{ city.name }}</option>
                      </select>
                    </div>
                </div>
                <div class="col-md-6 col-xs-12">
                  <div class="form-group">
                    <label>Area</label><br/>
                      <mat-form-field>
                        <input type="text" name="current_zone" id="current_zone" placeholder="Select Area" aria-label="Number" matInput [formControl]="areaControl" [matAutocomplete]="auto">
                        <mat-autocomplete #auto="matAutocomplete"
                          [displayWith]="displaySelectedZone"
                          (optionSelected)="setCurrentZoneID($event)">
                          <mat-option *ngFor="let zone of filteredZones | async" [value]="zone">
                            {{zone.name}}
                          </mat-option>
                        </mat-autocomplete>
                      </mat-form-field>
                    <!-- <select [(ngModel)]="current_zone_id" id="current_zone_id"  name="current_zone_id"  required class="form-control">
                      <option *ngFor="let zone of current_zones" [value]="zone.id">{{ zone.name }}</option>
                    </select> -->
                  </div>
                </div>

              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" (click)="setZone()" class="btn btn-primary">Set Delivery Area</button>
        </div>
      </div>
    </div>
  </div>
</div>

<ngx-smart-modal #basketModal (onClose)="show_basket_mobile=false"  identifier="basketModal">
  <div *ngIf="show_basket_mobile==true">
    <div  *ngIf="is_open==1">
      <div *ngIf="cartIsEmpty()">
        <div class=" text-center p-5">
          <p><i class="fas fa-shopping-basket fa-7x"></i></p>
          <p class="lead">
            Your basket is empty!
          </p>
        </div>
      </div>
      <div *ngIf="!cartIsEmpty()">
        <ul class="list-group">
          <li class="list-group-item bg-primary text-center  text-light">
            <span class="lead text-light mb0">Your Basket</span>
          </li>
          <li class="list-group-item" *ngFor="let basket_item of generateArray(basket.items); ">
            <div>
              {{ basket_item['value'].qty }} x {{ basket_item['value'].name }}
              <div class="float-right">AED {{ basket_item['value'].subtotal_price }}</div>
              <small>{{ basket_item['value'].formatted_extras }}</small>
              <div class=" pt-1">
                <div class="btn-group">
                  <a href="javascript:void(0)" class="btn btn-light btn-sm" (click)="basket.incrementItem(basket_item['key'])">
                    <i class="fas fa-plus"></i>
                  </a>
                  <a href="javascript:void(0)" class="btn btn-danger btn-sm" *ngIf="basket_item['value'].qty > 1" (click)="basket.decrementItem(basket_item['key'])">
                    <i class="fas fa-minus"></i>
                  </a>
                </div>

                <a class="btn-sm btn btn-dark" href="javascript:void(0)" (click)="basket.removeItems(basket_item['key'])">
                  <i class="fas fa-trash"></i>
                </a>
              </div>
            </div>
          </li>
          <li class="list-group-item" *ngFor="let basket_item of generateArray(basket.combos); ">
            <div>
              {{ basket_item['value'].qty }} x {{ basket_item['value'].name }}
              <div class="float-right">AED {{ basket_item['value'].subtotal_price }}</div>
              <div>
                <a href="javascript:void(0)" (click)="basket.removeCombos(basket_item['key'])">
                  <i class="fas fa-trash"></i>
                </a>
                <small>{{ basket_item['value'].formatted_extras }}</small>
              </div>
            </div>
          </li>
          <li class="list-group-item"><b>Subtotal:</b><div class="float-right">AED  {{ basket.subtotal }}</div> </li>
          <li class="list-group-item"><b>Delivery:</b><div class="float-right">AED {{ basket.delivery_charges }}</div> </li>
          <li class="list-group-item"><h5><b>Total:</b><div class="float-right">AED {{ basket.total }}</div> </h5></li>
          <li class="list-group-item">
            <a href="javascript:void(0)" (click)="show_basket_mobile=false;proceedToCheckout()" class="btn btn-block btn-primary">Check Out</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</ngx-smart-modal>

<main role="main">
  <section class="jumbotron text-center">
    <div class="container text-right">
      <h1 class="jumbotron-heading  text-white"><span class="bg-primary p-1">{{ auth.businessName }}</span></h1>
      <p class="lead"><span class="bg-primary p-1">Order Online</span></p>
    </div>
  </section>
</main>
<div class="container">
  <div class="row" *ngIf="is_open==0">
    <div class="col-md-12">
      <div class="alert alert-warning">
        <h4 class="alert-heading">Sorry we're closed</h4>
        <p *ngIf="(timings.start)!=null">Delivery timings for {{ current_zone.name }} are {{ timings.start }} to {{ timings.end }} - {{ timings.days }}</p>
        <p *ngIf="(timings.start)==null">Delivery for {{ current_zone.name }} available on  - {{ timings.days }}</p>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-8 col-sm-12">
      <div class="row bg-white sticky-heading" *ngIf="menus.length > 0">
        <div class="col-md-9 col-sm-12">
          <ul style="overflow: auto;    white-space: nowrap;" class="flex-nowrap nav nav-pills">
            <ng-container *ngFor="let menu of menus">
              <li class="nav-item" *ngFor="let section of menu.sections">
                <a class="nav-link" href="#section-{{ section.id }}">{{ section.name }}</a>
              </li>
            </ng-container>
          </ul>
        </div>
        <div class="col-md-3 d-none d-md-block">
          <div class="align-middle">
            <input [(ngModel)]="searchText" class="mt-3 form-control " type="text" placeholder="Search"/>
          </div>
        </div>
      </div>
      <div class="d-block d-md-none">
        <div class="fixed-bottom p-3 bg-dark" >
          <div class="row">
            <div class="col-4">
              <a href="javascript:void(0)" (click)="openBasketModal()" class="  btn btn-primary  p-2 ">
                View Basket <i class="fas fa-shopping-cart fa-1x"></i>
              </a>
            </div>
            <div class="col-8">
              <div class="text-white text-right" *ngIf="is_zone_set==true">
                <div (click)="is_zone_set = false" >
                  <small>Selected Delivery Location</small>
                  <div>{{ current_zone.name }},{{ current_city.name }}</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <ngx-smart-modal #itemModal customClass="large-modal" (onClose)="closeItemDetails()" identifier="itemModal">
        <div *ngIf="hasItemInFocus()">
          <div class="p-1 bg-primary"></div>
          <div *ngIf="itemInFocus.item.photo_id > 0" class=" d-sm-block d-md-none" style="background-size:100%; background-position:top; background-repeat:no-repeat; height:215px;" [ngStyle]="{'background-image':'url('+itemInFocus.item.photo.original_image_path+')'}">
          </div>
          <div class="p-3">
            <div class="p-lg-2">
              <h2 class="mt-0 mb-1">{{ itemInFocus.name}}</h2>
              <p class="">
                {{ itemInFocus.description }}
              </p>
              <h4 class="mt-0 mb-1" *ngIf="'itemInFocus.subtotal_price > 0'">
                +AED {{ itemInFocus.subtotal_price }}
              </h4>
            </div>
          </div>
          <form #itemOptionsGroup>
            <div *ngIf="(itemInFocus.item.choices.length + itemInFocus.item.variations.length) > 0">
              <div class="p-3" >
                <div class="row mb-3 mt-3">
                  <div class="col-12" *ngIf="!itemInFocus.item.hasVariations()">
                    <div class="" *ngFor="let choice of itemInFocus.item.choices; index as i;" >
                      <div class="bg-light p-1"><b>{{ choice.name  }}</b> <small class="text-black-50">(Required Select One)</small></div>
                      <form class="mt-3 mb-3 ml-3">  
                        <div class="row">
                          <div class="col-12" *ngFor="let option of choice.selectable_options; index as x;">
                            <div class="form-group form-check ">
                              <input id="base_choice_{{i}}_{{x}}"
                                class="form-check-input"
                                name="base_choice_{{ i }}"  
                                type="radio" 
                                [checked]="itemInFocus.isSelectedChoice(option)" 
                                [value]="option"
                                (change)="itemInFocus.toggleChoice(option)" />
                              <label class="form-check-label" for="base_choice_{{i}}_{{x}}">
                                {{ option.name }}  
                                <span *ngIf="option.price>0" class="text-black-50 ml-3">
                                  +AED {{ option.price }}
                                </span>
                              </label>
                            </div>
                          </div>
                        </div>
                      </form>
                    </div>
                  </div>
                  <div class="col-12" *ngIf="itemInFocus.item.hasVariations()">
                    <div *ngFor="let variation of itemInFocus.item.variations; index as i;">
                        <div class="row">
                          <div class="col-12">
                      <div class="form-check mb-2 form-check-inline" >
                        <div class="form-check">
                          <input id="option_{{variation.id}}" 
                              name="option"  type="radio" 
                              class="form-check-input"
                              [value]="variation"
                              [checked]="i===0"
                              (change)="itemInFocus.selectVariation(variation);itemInFocus.refreshAll();" /> 
                            <label  class="form-check-label"  for="option_{{variation.id}}">
                              {{ variation.name }}
                            </label> 
                            <span class="text-black-50 ml-3"> AED {{ variation.price }}</span>
                        </div>
                      </div>
                          </div>
                        </div>


                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div *ngIf="itemInFocus.item.hasVariations()">
              <hr/>
              <div class="p-3">
                <div class="row mb-3 mt-3">
                  <div class="col-12" >
                    <div *ngFor="let variation of itemInFocus.item.variations; index as i;">
                      <div *ngIf="itemInFocus.isSelectedVariation(variation)" >
                        <div class="" *ngFor="let choice of variation.choices; index as j;" >
                          <h4 class="">Select {{ choice.name  }}</h4>
                          <div class="form-check  form-check-inline">
                            <div class=" form-check" *ngFor="let option of choice.selectable_options; index as x;">
                              <div class="form-group form-check ">
                                <input id="{{ variation['id'] }}_base_choice_{{j}}_{{x}}"  
                                  class="form-check-input"
                                  name="variation_option_for_choice_{{j}}"  type="radio" 
                                  [value]="option"
                                  [checked]="j===0"

                                  (change)="itemInFocus.selectSelectedVariationOption(option);itemInFocus.refreshAll();" />
                                <label class="form-check-label" for="{{variation['id']}}_base_choice_{{j}}">
                                  {{ option.name }}
                                  <span *ngIf="option.price>0" class="text-black-50 ml-3">
                                    +AED {{ option.price }}
                                  </span>
                                </label>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <hr/>
          </form>
          <div class="p-3">
            <div class="row">
              <div class="col-md-6">
                <div class="p-lg-2">
                  <div class="input-group mb-3">
                    <div class="input-group-prepend">
                      <button (click)="itemInFocus.decrement(1)" class="btn btn-lg btn-outline-dark">-</button>
                    </div>
                    <input class="col-md-2 form-control form-control-lg text-center"  [(ngModel)]="itemInFocus.qty" />
                    <div class="input-group-append">
                      <button (click)="itemInFocus.increment(1) " class="btn btn-lg btn-outline-dark">+</button>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="p-lg-2 text-right">
                  <button [disabled]="itemOptionsGroup.valid" (click)="addItemToCart(itemInFocus)" class="btn btn-lg btn-primary">Add to Basket</button>
                  <!--<button (click)="itemModal.close()"  class="btn btn-light">Close</button>-->
                </div>
              </div>
            </div>
          </div>
        </div>
      </ngx-smart-modal>

      <ngx-smart-modal #suggestionsModal customClass="large-modal" (onClose)="closeSuggestionsDetails()" identifier="suggestionsModal">
        <div class="p-1 bg-primary"></div>
          <div class="p-5">
          <h2>
            Wait! Before you checkout!
          </h2>
          <p class="lead">Don't forget to add to your order!</p>
          <div class="row">
            <div *ngFor="let suggestion of suggestibles; index as i;" class="col-md-4">
              <div class="card" >
                <img *ngIf="suggestion.item.photo_id > 0" class="card-img-top" [src]="suggestion.item.photo.original_image_path">
                <div class="card-body">
                  <h5 class="card-title">{{ suggestion.name }}</h5>
                  <p class="card-text">{{ suggestion.description }}</p>
                  <button (click)="addSuggestionToCart(suggestion)" class="btn btn-lg btn-primary">Add to Basket</button>

                </div>
              </div>
              <br/>
                
          </div>

            </div>
            <div class="row">
              <div class="col-md-12">
                <a href="javascript:void(0)" (click)="closeSuggestionsDetails()" >No thank you..</a>
              </div>
            </div>

          </div>
      </ngx-smart-modal>







      <ngx-smart-modal #comboModal customClass="large-modal" (onClose)="closeComboDetails()" identifier="comboModal">
        <div *ngIf="hasComboInFocus()">
          <div class="p-1 bg-primary"></div>
          <div class="p-3">
            <div class="p-lg-2">
              <div class="alert alert-danger" *ngIf="comboInFocus.hasErrors()">
                {{ comboInFocus.errors.join(', ') }}
              </div>
              <h2 class="mt-0 mb-1">{{ comboInFocus.name}}</h2>
              <p class="lead">
                {{ comboInFocus.description }}
              </p>
              <h4 class="mt-0 mb-1" *ngIf="'comboInFocus.subtotal_price > 0'">
                +AED {{ comboInFocus.subtotal_price }}
              </h4>
            </div>
          </div>
          <hr/>
          <div class="p-3">
            <div class="p-lg-2" *ngIf="comboInFocus.combo.selectables.length > 0">
              <div class="" *ngFor="let selectable of comboInFocus.combo.selectables; index as i;" >
                <h4 class="">{{ selectable.name  }} <small class="text-black-50">(Required Select One)</small></h4>
                <form class="mt-3 mb-3">  
                  <div class="row">
                    <div class="col-md-2" *ngFor="let option of selectable.options; index as x;">
                      <div class="form-group form-check lead">
                        <input id="option_{{i}}_{{x}}"  class="form-check-input"
                              name="option_{{ i }}"  type="radio" [checked]="comboInFocus.isSelectedOption(option)" 
                              [value]="option"
                              (change)="comboInFocus.toggleOption(option)" />
                        <label class="form-check-label" for="option_{{i}}_{{x}}">
                          {{ option.name }}  
                          <span *ngIf="option.price>0" class="text-black-50 ml-3">
                            +AED {{ option.price }}
                          </span>
                        </label>
                      </div>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
          <hr/>
          <div class="p-3">
            <div class="row">
              <div class="col-md-6">
                <div class="p-lg-2">
                  <div class="input-group mb-3">
                    <div class="input-group-prepend">
                      <button (click)="comboInFocus.decrement(1)" class="btn btn-lg btn-outline-dark">-</button>
                    </div>
                    <input class="col-md-2 form-control form-control-lg text-center"  [(ngModel)]="comboInFocus.qty" />
                    <div class="input-group-append">
                      <button (click)="comboInFocus.increment(1)" class="btn btn-lg btn-outline-dark">+</button>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="p-lg-2 text-right">
                  <button (click)="addComboToCart(comboInFocus)" class="btn btn-lg btn-primary">Add to Basket</button>
                    <!--<button (click)="comboModal.close()"  class="btn btn-light">Close</button>-->
                </div>
              </div>
            </div>
          </div>
        </div>
      </ngx-smart-modal>      
      <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="false">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body"></div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              <button type="button" class="btn btn-primary">Save changes</button>
            </div>
          </div>
        </div>
      </div>
      <div *ngIf="menus.length == 0">
        <div class="border p-5 text-center">
          <p>Please wait! Loading...</p>
        </div>
      </div>
      <div *ngFor="let menu of menus">
        <div style="display:none;" class=" text-left">
          <h4>{{ menu.name }}</h4>
        </div>
        <ng-container  *ngFor="let section of menu.sections" >        
          <ul class="list-unstyled" *ngIf="(section.items.length + section.combos.length) > 0" >
            <li class="media my-4 p-3 mb-2 bg-primary sticky-heading text-white">
              <h5 class="mt-0 mb-1" id="section-{{ section.id }}">{{ section.name }}</h5>
            </li>
            <li *ngFor="let item of section.items | filter : searchText" class="hoverable mb-1 " (click)="openItemDetails(item)" >
              <div class="card">
                <div class="row " style="min-height:1px;">
                  <div [ngClass]="item.photo_id > 0 ? 'col-md-8  col-6':'col-md-8  col-6'">
                    <div class="row">
                      <div class="col-12">
                    <div class="p-3">
                      <span *ngIf="item.flags!=''"><span class="badge badge-info">{{item.flags}}</span></span>
                      <h5 class="card-title">{{ item.name}}</h5>
                      <p class="card-text" style="text-overflow:ellipsis;white-space:nowrap;
  overflow:hidden;">{{ item.description  }}</p>
                      <span *ngIf="item.variations.length > 0" class="">
                            <b class="mt-0 mb-1" style="white-space: nowrap"><sup>AED</sup> {{ item.variations[0].price  }}</b>
                      </span>
                      <span *ngIf="item.variations.length == 0" class="">
                        <b class="mt-0 mb-1" style="white-space: nowrap"><sup>AED</sup> {{ item.base_price  }}</b>
                      </span>
                    </div>
                  </div>
                  <!-- <div class="col-4">
                    <div class="p-3">
                    <div  class="row">
                      <div class="col-8">
                      </div>
                      <div class="col-4">
                      <a href="javascript:void(0)" class="btn float-right  btn-primary rounded-circle" (click)="openItemDetails(item)" ><b>+</b></a></div>
                    </div>
                  </div>
                  </div> -->
                </div>
              </div>
              <div class="col-md-4 col-6">
                <div class="card m-1 border-0 text-white" *ngIf="item.photo_id > 0"  >
                  <img class="card-img"  [src]="item.photo.medium_image_path" />
                </div>
                <div class="card m-1 border-0 text-white" *ngIf="!(item.photo_id > 0)" >
                  <img class="card-img" src="/assets/no-image.jpg" />
                </div>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </ng-container>
    <p><br/></p>
  </div>
</div>
<div  class="col-sm-12  col-md-4">
  <div id="basket" class="sticky-top">
    <div *ngIf="is_zone_set==true">
      <div class="alert alert-default">
        <a href="javascript:void(0)" (click)="is_zone_set = false" class="btn btn-small btn-light float-right">change</a>
        <small>Selected Delivery Location</small>
        <div>{{ current_zone.name }},{{ current_city.name }}</div>
      </div>
    </div>
    <div *ngIf="is_open==1">
      <div *ngIf="cartIsEmpty()">
        <div class="border text-center p-5">
          <p><i class="fas fa-shopping-basket fa-7x"></i></p>
          <p class="lead">
            Your basket is empty!
          </p>
        </div>
      </div>
      <div *ngIf="!cartIsEmpty()">
        <ul class="list-group">
          <li class="list-group-item bg-primary text-center  text-light">
            <span class="lead text-light mb0">Your Basket</span>
          </li>
          <li class="list-group-item" *ngFor="let basket_item of generateArray(basket.items); ">
            <div>
              {{ basket_item['value'].qty }} x {{ basket_item['value'].name }}
              <div class="float-right">AED {{ basket_item['value'].subtotal_price }}</div>
              <small>{{ basket_item['value'].formatted_extras }}</small>
              <div class=" pt-1">
                <div class="btn-group">
                  <a href="javascript:void(0)" class="btn btn-light btn-sm" (click)="basket.incrementItem(basket_item['key'])">
                    <i class="fas fa-plus"></i>
                  </a>
                  <a href="javascript:void(0)" class="btn btn-danger btn-sm" *ngIf="basket_item['value'].qty > 1" (click)="basket.decrementItem(basket_item['key'])">
                    <i class="fas fa-minus"></i>
                  </a>
                </div>
                <a class="btn-sm btn btn-dark" href="javascript:void(0)" (click)="basket.removeItems(basket_item['key'])">
                  <i class="fas fa-trash"></i>
                </a>
              </div>
            </div>
          </li>
          <li class="list-group-item" *ngFor="let basket_item of generateArray(basket.combos);">
            <div>
              {{ basket_item['value'].qty }} x {{ basket_item['value'].name }}
              <div class="float-right">AED {{ basket_item['value'].subtotal_price }}</div>
              <div>
                <a href="javascript:void(0)" (click)="basket.removeCombos(basket_item['key'])">
                  <i class="fas fa-trash"></i>
                </a>
                <small>{{ basket_item['value'].formatted_extras }}</small>
              </div>
            </div>
          </li>
          <li class="list-group-item"><b>Subtotal:</b><div class="float-right">AED  {{ basket.subtotal }}</div> </li>
          <li class="list-group-item"><b>Delivery:</b><div class="float-right">AED {{ basket.delivery_charges }}</div> </li>
          <li class="list-group-item"><h5><b>Total:</b><div class="float-right">AED {{ basket.total }}</div> </h5></li>
          <li class="list-group-item">
            <a href="javascript:void(0)" (click)="proceedToCheckout()" class="btn btn-block btn-primary">Check Out</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <br/><br/><br/><br/><br/><br/><br/>
</div>
</div>
</div>