<div class="loading" *ngIf="loading == true">Loading&#8230;</div>
<div class="container"  *ngIf="loading == false" >
  <div class="row">
    <div class="col-md-12 col-sm-12">
      <ul class="list-unstyled" *ngIf="this.order.items.length > 0" >
        <li class=" my-4 p-3 mb-2 bg-primary text-white">
          <a href="javascript:void(0)" (click)="goBackToMenu()" class="btn float-right btn-light btn-sm">Edit Order</a>
          <h5 class="mt-0 mb-1">Order Summary</h5>
        </li>
        <li class=" p-4" >
          <div  *ngIf="error == true" >
            <div class="alert alert-warning alert-dismissible fade show" role="alert">
              <span *ngIf="error_message == ''">Sorry something wen't wrong - please check your order details or try again later.</span>
              {{ error_message }}
              <button type="button" class="close" (click)="error = false" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
          </div>
          <ul class="list-group btn-block">
            <li class="list-group-item" *ngFor="let item of this.order.items;">
              <div>
                {{ item.qty }} x {{ item.item }}
                <br/>
                <small>{{ item.item_extras }}</small>
                <div class="float-right">AED {{ item.subtotal  }}</div>
              </div>
            </li>
            <li class="list-group-item">
              <b>Subtotal:</b>
              <div class="float-right">AED  {{ this.order.subtotal }}</div> </li>
            <li class="list-group-item"><b>Delivery:</b><div class="float-right">AED {{ this.order.delivery_charge  }}</div> </li>
            <li class="list-group-item"><h5><b>Total:</b><div class="float-right">AED {{ this.order.total }}</div> </h5></li>
          </ul>
        </li>
        <li class=" my-4 p-3 mb-2 bg-primary text-white">
          <h5 class="mt-0 mb-1">Delivery Details</h5>
        </li>
        <li class="p-4" *ngIf="auth.isLoggedIn() && (addresses.length > 0)" >
          <ul class="list-group" >
            <li class="list-group-item" >
              <b>Select from saved address</b>
            </li>
            <li class="list-group-item" *ngFor="let one_address of addresses;">
              <input type="radio" name="selected_address" (click)="setCurrentAddress(one_address)">
              {{ one_address.getDisplayable() }} 
              <a href="javascript:void(0)" class="btn btn-xs float-right btn-danger" (click)="removeAddress(one_address)"><i class="fas fa-trash"></i></a>
            </li>
            <li class="list-group-item">
              <a href="javascript:void(0)" class="btn   btn-block btn-primary" (click)="addEmptyAddress()">Add A New Delivery Address</a>
            </li>
          </ul>
          <p></p>
        </li>

        <li class="p-4"*ngIf="showAddressForm == true" >
          <div class="row">
            <div class="col-md-12 col-xs-12">
              <div class="form-group">
                <input placeholder="Name of Customer" required [(ngModel)]="order.customer_name" class="form-control" /> 
              </div>
            </div>
            <div class="col-md-6 col-xs-12">
              <div class="form-group">
                <input placeholder="Email of Customer" required [(ngModel)]="order.customer_email" class="form-control"  /> 
              </div>
            </div>
            <div class="col-md-6 col-xs-12">
              <div class="form-group">
                <input placeholder="Must be in 05######## - no spaces" required [(ngModel)]="order.customer_phone" class="form-control"  /> 
              </div>
            </div>
            <div class="col-md-6 col-xs-12">
                <div class="form-group">
                  <input placeholder="House No. Flat No." name="order_address_home_no" required  [(ngModel)]="order.address.house_no" class="form-control"  /> 
                  <div class="alert alert-danger" *ngIf="order.address.house_no.invalid && (order.address.house_no.dirty || order.address.house_no.touched)">
                      Where is your house?
                  </div>
                </div>
              </div>
              <div class="col-md-6 col-xs-12">
                <div class="form-group">
                  <input placeholder="Street Name/Landmark" name="order_address_street"  required minlength="5" [(ngModel)]="order.address.street" class="form-control"  /> 
                  <div class="alert alert-danger" *ngIf="order.address.street.invalid && (order.address.street.dirty || order.address.street.touched)">
                      Street name is invalid
                  </div>
                </div>
              </div>
              <div class="col-md-6 col-xs-12">
                <div class="form-group">
                  <input placeholder="Address Line 1" name="order_address_address_1"  required minlength="5" [(ngModel)]="order.address.address_1" class="form-control"  /> 
                  <div class="alert alert-danger" *ngIf="order.address.address_1.invalid && (order.address.address_1.dirty || order.address.address_1.touched)">
                      Address line is required
                  </div>
                </div>
              </div>
              <div class="col-md-6 col-xs-12">
                <div class="form-group">
                    <input placeholder="Address Line 2" name="order_address_address_2"  [(ngModel)]="order.address.address_2" class="form-control"  /> 
                  </div>
              </div>
              <div class="col-md-6 col-xs-12">
                <div class="form-group">
                  {{ order.address.city_name }}
                </div>
              </div>
              <div class="col-md-6 col-xs-12">
                <div class="form-group">
                  {{ order.address.zone_name }}
                </div>
              </div>
              <div *ngIf="!(order.address.id > 0) && (auth.isLoggedIn())" class="col-md-12 col-xs-12">
                  <div class="form-group">
                      <input type="checkbox" [(ngModel)]="order.address.is_addable" [value]="1" />
                      Check to save address
                  </div>
                </div>
          </div>
        </li>
        <li class=" my-4 p-3 mb-2 bg-primary text-white">
          <h5 class="mt-0 mb-1">Payment Summary</h5>
        </li>
        <li class="p-4 pt-0" >
          <div class="row">
            <div class="col-md-6">
              <p>Coupon Code?</p>
              <div class="input-group">
                <input placeholder="Coupon Code" [(ngModel)]="order.coupon_code" class="form-control"  /> 
                <div class="input-group-prepend">
                  <a href="javascript:void(0)" class="btn btn-primary input-prepend" (click)="applyCouponToOrder()" >REDEEM</a>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <p>Comments if any?</p>
              <textarea [(ngModel)]="order.comments"   class="form-control w-100" placeholder="eg: Send more napkins, knock on door">
              </textarea>

            </div>
          </div>
          <hr/>
          <div class="row">
            <div class="col-md-12">
              <div class="row">
                <div class="col-md-6">
                  <p><b>Select Payment Mode</b></p>
                  <ul class="list-group btn-block">
                    <li class="list-group-item">
                      <div class="form-check">
                        <input class="form-check-input" name="payment"  type="radio" [(ngModel)]="order.payment_mode" value="cash"/>
                        <label  class="form-check-label"  for="option_cash">
                          Cash
                        </label> <i class="fas font-weight-bold float-right text-success fa-money-bill-alt"></i>
                      </div>
                        
                    </li>
                    <li class="list-group-item">
                        <div class="form-check">
                          <input class="form-check-input" name="payment"  type="radio" [(ngModel)]="order.payment_mode" value="card-on-delivery" /> 
                          <label  class="form-check-label"  for="option_card_delivery">
                            Card On Delivery
                          </label> <i class="fas font-weight-bold  float-right text-success fa-hand-holding-usd"></i>
                        </div>
                    </li>
                    <li class="list-group-item">
                      <div class="form-check">
                        <input class="form-check-input"  name="payment" type="radio" [(ngModel)]="order.payment_mode" value="card" /> 
                        <label  class="form-check-label"  for="option_card">
                          Pay Online
                        </label> <i class="fas font-weight-bold float-right text-success fa-credit-card"></i>
                      </div>
                    </li>
                  </ul>
              </div>
              <div class="col-md-6">
                <ul class="list-group btn-block">
                  <li class="border-0 list-group-item">
                    <b>Subtotal:</b>
                    <div class="float-right">AED  {{ this.order.subtotal }}</div> 
                  </li>
                  <li class="border-0 list-group-item">
                    <b>Delivery:</b>
                    <div class="float-right">AED {{ this.order.delivery_charge  }}</div> 
                  </li>
                  <li *ngIf="this.order.applied_discount > 0" class="border-0 list-group-item">
                    <b>Discount Applied:</b><em>Coupon:{{ this.order.coupon_code }}</em>
                    <div class="float-right">AED {{ this.order.applied_discount  }}</div> 
                    <div *ngIf="this.order.additional!=''">{{ this.order.additional }}</div>
                  </li>
                  <li class="border-0 pb-2 pt-2 list-group-item">
                    <h5>
                      <b>Total:</b>
                      <div class="float-right">AED {{ this.order.total }}</div> 
                    </h5>
                  </li>
                  <li class="border-0 list-group-item">
                    <a href="javascript:void(0)" (click)="confirmOrder()" class="btn btn-success btn-lg w-100">PLACE ORDER</a>
                  </li>
                </ul>
                </div>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>
  